/* common styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 27px;
    animation: color-change 1.5s ease-in-out 0s forwards;
}

@keyframes color-change {
    0%   {color:rgb(45, 37, 160) ;}
    25%  {color:rgb(105, 102, 145);}
    50%  {color: rgb(212, 212, 157);}
    75%  {color: wheat}
    100% {color: white;}
}
h2{
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 8px;
    transition: 0.5s;
}
h3{
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 10px;
}
button{
    border: none;
    background-color: #E02C6D;
    color: white;
    height: 100%;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 24px;
    cursor: pointer;
}
button i{
    padding: 0 8px;
}
section{
    width: 75%;
    margin: 68px auto;
}

section:hover h2{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.item{
    width: 50%;
    height: 100%;
}
.row{
    display: flex;
}
/*----------------------------------------------------------------------------------------
                            header style starts 
------------------------------------------------------------------------------------------*/

header{
    width: 100%;
    height: 100vh;
    background: #2D25A0;
}
/* nav styles starts here */
nav{
    width: 80%;   
    margin: 0 auto;
    line-height: 24px;
    font-size: 16px;
    justify-content: space-between;
}
.log{
    display: flex;
    margin-bottom: 46px;
}
.log .icon{
    display: none;
    font-size: 24px;
    padding: 15px;
    color: white;
}
.logging-button{
    height: 44px;
    margin-top: 40px;
}
.link-container{
    flex-grow: 1;
    margin-top: 40px;
}
.link-container ul li{
    display: inline-block;
    margin: 0 36px;
}
.link-container ul li a{
    color: white;
    text-decoration: none;
}
.link-container ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: white;
    display: block;
    margin: auto;
    transition: 1s;
}
.link-container ul li:hover::after{
    width: 100%;  
}


/* banner style starts */
.banner{
    width: 100%;
    height: 78vh;
}

.banner-title{ 
    display: inline-block;
    width: 65%;
    margin-left: 131px;
    margin-top: 150px;
}

.watch-button{
    width: 168px;
    height: 44px;
    transition: transform 0.5s;
}
.watch-button:hover{
    transform: scale(1.2);
}
.banner-logo{
    margin: auto;
    transition: 1s;
    height: 100%;

}
.banner-logo img{
    height: 100%;
    padding-top: 67px;
    transition: transform 1.2s;
}
.banner:hover .banner-logo img{
    transform: scaleX(-1);
}

/*----------------------------------------------------------------------------------------
                            main style starts 
------------------------------------------------------------------------------------------*/
/* player list style */
.player-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{ 
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px 15px 33px 15px;
    border-radius: 10px;
    transition: 0.5s;
}
.player:hover{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.55);
}
.player .player-photo{
    width: 100%;
    height: 256px;
    margin-bottom: 16px;
    border-radius: 10px;
}
.player p{
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}

/* Highlights style */
.highlights{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.highlights .highlights-text{
    width: 85%;
    padding-top: 80px;
}

.highlights-text p{
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    margin-bottom: 24px;
}
.highlights .highlights-picture {
    width: 100%;

}
.highlights .highlights-picture img{
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
}
.highlights .highlights-picture img:hover{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}
/* final video styles */
.final-video{
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    transition: 0.5s;
}
.final-video:hover{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}
.final-video iframe{
    width: 80%;
    height: 60vh;
    border-radius: 30px;
    margin-bottom: 40px;
}
/*gallery styles */
.gallery{
    text-align: center;
}
.photos{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.photos img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 1s;
}
.photos .photo{
    border-radius: 10px;
    overflow: hidden;
}
.photos img:hover{
    transform: scale(1.2);
}

/*----------------------------------------------------------------------------------------
                            footer style starts 
------------------------------------------------------------------------------------------*/
footer{
    width: 100%;
}
.footer{
    width: 33%;
    margin: auto;
    text-align: center;
    padding-bottom: 63px;
}
.footer .footer-logo img{
    width: 100%;
     height: 110px;
}
.footer .footer-link{
    margin: 20px;
}
.footer .footer-link span{
    margin: 0 10px;
    font-size: 2rem;
    color: #969BAB;
    cursor: pointer;
}
.fa-instagram,.fa-dribbble,.fa-twitter,.fa-youtube{
    transition: 1s;
}
.footer .footer-link span .fa-instagram:hover{
    color: brown;
    transform: scale(1.2);
}
.footer .footer-link span .fa-dribbble:hover{
    color: rgb(97, 97, 240);
    transform: scale(1.2);
}
.footer .footer-link span .fa-twitter:hover{
    color: darkblue;
    transform: scale(1.2);
}
.footer .footer-link span .fa-youtube:hover{
    color: red;
    transform: scale(1.2);
}
.footer p{
    font-size: 18px;
    line-height: 24px;
}

/*----------------------------------------------------------------------------------------
                            Media query style starts 
------------------------------------------------------------------------------------------*/

/* Styles for tablet */
@media screen and (max-width:992px){
    section{
        width: 80%;
        margin: 68px auto;
    }
    h1{
        font-weight: 700;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 27px;
    }
    .row{
        flex-direction: column;
    }
    /* nav style starts */
    nav{
        width: 100%;
        justify-content: center;
        box-sizing: border-box;
        padding-right: 15px;
    }
    .link-container{
        display: none;
    }
    .log{
        margin-top: 10px;
        justify-content: center;
        margin-top: 20px;
    }
    .log .icon{
        display: block;
    }
    .logging-button{
        width: 100%;
        padding: 0;
        order: 1;
        display: block;
        margin: 1%;
        text-align: end;
    }
    /* banner style starts */
    
    .banner{
        margin-top: 2%;
        box-sizing: border-box;
    }
    .banner-title{
        margin-top: 0px;
        align-items: center;
        margin-bottom: 10px;
        margin-left: 10%;
    }
    .banner-logo{
        display: inline-block;
        align-items: center;
        width: 80%;
        height: 70%;
    }
    .banner-logo img{
        padding:0 ;
        margin: 0;
        height: 100%;
        width: 80%;       
    }
    /* player list starts */
    .player-list{
        grid-template-columns: repeat(2,1fr);
    }
    /* highlights section starts */
    .highlights{
        grid-template-columns: 1fr;
        grid-row-gap: 29px;
    }
    .highlights .highlights-text{
        width: 100%;
        padding-top: 0;
        margin-top: 60px;
    }
    /* footer section start */
    .footer{
        width: 50%;
    }
}
/* style for mobile */
@media screen and (max-width:668px){
    h2{
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;  
    }
    h3{
        font-size: 28px;
        line-height: 40px;
    }
    .item{
        height: 100%;
    }
    
    /* nav > link-container starts */
    .link-container ul li{
        display: none;
    }

    /* nav > banner starts */
    .banner{
        margin-top: 1%;
        justify-content: space-between;
    }
    .banner-title{
        width: 70%;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .banner-title h1{
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 5px;
    }
    .banner-logo{
        align-items: center;
        width: 80%;
        height: 100%;
        margin-top: 0px;
    }

    /* player section starts */
    .player-list{
        grid-template-columns: 1fr;
    }
    
    .photos{
        grid-template-columns: 1fr;
    }
    /* footer > .footer starts */
    .footer{
        width: 100%;
        padding:10px 62px 60px;        
    }
    .footer .footer-logo img{
        width: 100%;
         height: 63px;
    }

}